html, body {
  height: 100%; }

header, section {
  height: 100%;
  min-height: 100%; }

.pacifico {
  font-family: 'Pacifico', cursive; }

.josefin {
  font-family: 'Josefin Slab', serif; }

.oswald, .menuBar ul li a {
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 3em; }

.uppercase {
  text-transform: uppercase; }

.content-wrapper {
  height: 100%; }

#menuButton {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99;
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 30px; }

.menuBar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: black;
  z-index: 99; }
  .menuBar ul {
    list-style: none; }
    .menuBar ul li {
      height: 3em;
      color: #999; }
      .menuBar ul li a {
        position: relative;
        top: 3px;
        left: 1em;
        color: #aaa;
        text-decoration: none;
        font-size: 1.5em; }
    .menuBar ul li:hover {
      background-color: #aaa; }
      .menuBar ul li:hover a {
        color: white; }
  .menuBar .socmed {
    position: relative;
    left: 4em;
    color: #aaa; }

header {
  color: white;
  background-image: url("/img/main_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#events {
  color: white;
  background-image: url("/img/event_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#concert {
  color: white;
  background-image: url("/img/concert_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#talent {
  color: white;
  background-image: url("/img/talent_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#consult {
  color: white;
  background-image: url("/img/consult_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

.section-content {
  position: relative;
  padding-top: 50px;
  margin: 0 2em; }
  @media (min-width: 720px) {
    .section-content {
      padding-left: 7em;
      padding-right: 7em; } }
  .section-content p {
    max-width: 384px; }
  .section-content form input, .section-content form textarea {
    margin: 0.5em 0;
    max-width: 384px; }

.content-wrap {
  max-width: 384px; }

.event-ul {
  background-color: rgba(15, 15, 15, 0.8); }
  .event-ul li {
    position: relative;
    list-style: none;
    left: -40px; }

.event {
  width: 100%; }
  .event div {
    display: inline-block; }
  .event .date {
    margin: 1em 0 1em 1em;
    background-color: blue;
    width: 5em;
    height: 5em; }

.concert-content {
  position: relative;
  top: 20%;
  margin: 0 2em; }
  @media (min-width: 520px) {
    .concert-content {
      top: 50%;
      padding-left: 7em; } }
  .concert-content .concert-wrapper {
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background-color: rgba(15, 15, 15, 0.8);
    max-width: 720px; }

.concert-artist {
  font-size: 4em; }

.concert-date {
  font-size: 2em;
  line-height: 1em; }

footer {
  height: 100px;
  color: #aaa;
  background: #333; }
  footer div {
    padding-top: 2em; }

/*# sourceMappingURL=style.css.map */
