html, body {
  height: 100%; }

header, section {
  height: 100%;
  min-height: 100%; }

.pacifico {
  font-family: 'Pacifico', cursive; }

.josefin {
  font-family: 'Josefin Slab', serif; }

.oswald, .menuBarWrapper ul li a {
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 3em; }

.uppercase {
  text-transform: uppercase; }

.content-wrapper {
  height: 100%; }

#menuButton {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 99;
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 30px; }

.menuBar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: black;
  z-index: 99; }

.menuBarWrapper {
  padding: 3em 1em; }
  .menuBarWrapper img {
    position: relative;
    left: 3em;
    margin-bottom: 2em; }
  .menuBarWrapper ul {
    list-style: none; }
    .menuBarWrapper ul li {
      height: 3em;
      color: #999; }
      .menuBarWrapper ul li a {
        position: relative;
        top: 3px;
        left: 0.2em;
        color: #aaa;
        text-decoration: none;
        font-size: 1.5em; }
    .menuBarWrapper ul li:hover {
      background-color: #aaa; }
      .menuBarWrapper ul li:hover a {
        color: black; }
  .menuBarWrapper .socmed {
    position: relative;
    left: 3em;
    margin-top: 2em;
    color: #aaa; }

header {
  color: white;
  background-image: url("../img/main_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }
  header div.container {
    height: 100%; }

#events {
  color: white;
  background-image: url("../img/event_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#concert {
  color: white;
  background-image: url("../img/concert_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#talent {
  color: white;
  background-image: url("../img/talent_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

#consult {
  color: white;
  background-image: url("../img/consult_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%; }

.intro {
  position: relative;
  height: 100%; }

.introimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-content {
  position: relative;
  padding-top: 3.5em;
  margin: 0 2em; }
  @media (min-width: 720px) {
    .section-content {
      padding-left: 7em;
      padding-right: 7em; } }
  .section-content p {
    max-width: 384px; }
  .section-content form input, .section-content form textarea {
    margin: 0.5em 0;
    max-width: 384px; }

.content-wrap {
  overflow: hidden; }

.event-ul {
  background-color: rgba(15, 15, 15, 0.8); }
  .event-ul li {
    position: relative;
    margin: 0px;
    list-style: none;
    left: -40px; }

.event {
  width: 100%; }
  .event div {
    display: inline-block; }
  .event .date, .event .desc {
    position: relative;
    margin: 1em 0 1em 1em;
    height: 5em; }
  .event .date {
    float: left;
    background-color: blue;
    width: 5em; }
  .event .desc h2 {
    margin-top: 0em;
    margin-bottom: 0.1em; }

.day-tick {
  position: relative;
  float: left;
  left: 0.25em; }

.date-tick {
  position: relative;
  float: right;
  top: -0.5em;
  left: -0.25em; }

.btn-white {
  padding: 1px 3px;
  border-radius: 3px;
  background-color: white;
  color: black; }

/* carousel */
#carousel-wrap {
  display: none; }
  @media (min-width: 990px) {
    #carousel-wrap {
      display: block;
      margin-top: 7em;
      height: 569px;
      width: 400px;
      overflow: hidden; } }
  @media (min-width: 1300px) {
    #carousel-wrap {
      display: block;
      margin-top: 0px;
      height: 853.5px;
      width: 600px;
      overflow: hidden; } }

#carousel-ul {
  list-style-type: none;
  width: 9500px;
  margin: 0px; }
  #carousel-ul li {
    position: relative;
    margin: 0px;
    float: left;
    width: 400px;
    left: -400px; }
    @media (min-width: 990px) {
      #carousel-ul li {
        height: 569px;
        width: 400px;
        left: -440px; } }
    @media (min-width: 1300px) {
      #carousel-ul li {
        height: 853.5px;
        width: 600px;
        left: -640px; } }

.concert-content {
  position: relative;
  top: 20%;
  margin: 0 2em; }
  @media (min-width: 520px) {
    .concert-content {
      top: 50%;
      padding-left: 7em; } }
  .concert-content .concert-wrapper {
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background-color: rgba(15, 15, 15, 0.8);
    max-width: 720px; }

.concert-artist {
  font-size: 4em; }

.concert-date {
  font-size: 2em;
  line-height: 1em; }

@media (max-height: 600px) {
  #consult div h1 {
    margin: 0.4em 0; }
  #consult div p {
    margin: 0.1em 0; } }

footer {
  height: 100px;
  color: #aaa;
  background: #333; }
  footer div {
    padding-top: 2em; }

/*# sourceMappingURL=style.css.map */
