$bg-gray: rgba(15,15,15,0.8);

html, body{
    height: 100%;
}

header, section{
    height: 100%;
    min-height: 100%;
}

.pacifico{
    font-family: 'Pacifico', cursive; 
}

.josefin{
    font-family: 'Josefin Slab', serif;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 3em;
}

.uppercase{
    text-transform: uppercase;
}

.content-wrapper{
    height:100%;
}

#menuButton{
    position: fixed;
    top:1em;
    right:1em;
    z-index: 99;
    display: block;
    text-align: center;
    cursor: pointer;
    color: black;
    border-radius: 30px;
}

$menuBarwidth: 250px;

.menuBar{
    position: fixed;
    top: 0;
    right: -$menuBarwidth;
    width: $menuBarwidth;
    height: 100%;
    background: black;
    z-index: 99;
}

.menuBarWrapper{
    padding: 3em 1em;

    img{
        position: relative;
        left: 3em;
        margin-bottom: 2em;
    }

    ul{
        list-style: none;

        li{
            height: 3em;
            color: #999;
            a{
                @extend .oswald;
                position:relative;
                top:3px;
                left: 0.2em;
                color: #aaa;
                text-decoration: none;
                font-size: 1.5em;
            }
        }

        li:hover{
            background-color:#aaa;
            a {
            color: black;
            }
        }
    }

    .socmed{
        position: relative;
        left:3em;
        margin-top: 2em;
        color: #aaa;
    }
}


@mixin section-background ($bgurl){
    color: white;
    background-image: url($bgurl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 100%;
}

header {
    @include section-background('../img/main_cover.jpg');
    div.container{
        height: 100%;
    }
}

#events {@include section-background('../img/event_cover.jpg');}

#concert {@include section-background('../img/concert_cover.jpg');}

#talent {@include section-background('../img/talent_cover.jpg');}

#consult{@include section-background('../img/consult_cover.jpg');}

.intro{
    position: relative;
    height: 100%;
}

.introimg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-content{
    position: relative;
    padding-top: 3.5em;
    margin: 0 2em;
    
    @media (min-width: 720px){
        padding-left: 7em;
        padding-right: 7em;
    }

    p{
        max-width: 1/2.5*960px;
    }
    
    form{
        input, textarea{
            margin: 0.5em 0;
            max-width: 1/2.5*960px;
        }
    }
}

.content-wrap{
    max-width: 1/2.5*960px;
}

.event-ul{
     background-color: $bg-gray;
    
    li{
        position: relative;
        list-style: none;
        left:-40px;
    }
}

.event{
    width: 100%;
    
    div {
        display: inline-block;
    }
    
    .date{
        margin: 1em 0 1em 1em;
        background-color: blue;
        width: 5em;
        height: 5em;
    }
}

.concert-content{
    position: relative;
    top: 20%;
    margin: 0 2em;
    
    
    @media (min-width: 520px){
        top:50%;
        padding-left: 7em;
    }
    
    .concert-wrapper{
        padding: 0.5em 1.5em;
        border-radius: 1em;
        background-color: $bg-gray;
        max-width: 720px;
        
    }
}

.concert-artist{
    font-size:4em;
}

.concert-date{
    font-size: 2em;
    line-height: 1em;
}

#consult{
    @media(max-height: 600px){
        div{
            h1{
                margin:0.4em 0 ;
            }
            p{
                margin:0.1em 0;
            }
        }
    }
}

footer{
    height: 1/2*200px;
    color: #aaa;
    background: #333;
    
    div {
        padding-top: 2em;
    }
}
